---
type Props = {
    styles?: string;
    classes?: string;
    title: string;
    description: string;
    image: string;
};
const {styles, classes} = Astro.props;
---
<nav>
    <ul class={classes} style={styles}>
        <slot />
    </ul>
</nav>